<ng-template #content>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
      <h6 style="padding-left: 10px" class="modal-title" id="modal-basic-text">{{text}}</h6>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            <ng-content select="[modal-body]"></ng-content>
        </div>
    </div>
    @if (modalType === modalTypeEnum.CONFIRMATION) {
      <div class="modal-footer">
        <button class="btn btn-outline-dark" type="button" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Ok</button>
      </div>
    }
</ng-template>