// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

body {
    font-size: 12px !important;
}

.btn {
    --cui-btn-font-size: 12px !important;
}

:root {
  // ------------- COUREUI SIDEBAR -----------------
  --cui-nav-link-font-size: 12px;
  --custom-pr-accordion-color: #367AF6;
  --custom-bootstrap-btn-color: #367AF6;
  --custom-bootstrap-btn-color-hover: #6f9ff7;
}
